<app-bread-crumb [itens]="[{text: 'Negociação'}]"></app-bread-crumb>
<div class="row mb-4">
  <div class="col-md-9">
    <h3 class="text-themecolor border-left pl-2" style="font-family: sans-serif; color: pur">Negociação</h3>
  </div>
  <div class="col-md-3 text-right">
    <a [href]="'#/dividaativa/negociacao/form' + (user.usuarioInterno ? '' : ('?ccc=' + ccc))" class="btn btn-secondary text-center" title="Nova Negociação">
      <i class="pi pi-plus"></i>Nova Negociação </a>
  </div>
</div>

<div class="table-responsive-lg" style="background: white;font-family: sans-serif;">
  <table class="table table-hover table-bordered" style="font-size: 0.8rem;">
    <thead>
      <tr>
        <th scope="col" class="text-center">Código</th>
        <th scope="col" class="text-center">Tipo da Negociação</th>
        <th scope="col" class="text-center">Quantidade de Parcelas</th>
        <th scope="col" class="text-center">Valor Negociado</th>
        <th scope="col" class="text-center">Ações </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let obj of paginas.content">
        <td class="text-center">
          <span *ngIf="obj.id < 10">0</span>{{ obj.id }}
        </td>
        <td class="text-center">
          {{ obj.termoAdesao && obj.termoAdesao.id ? 'TAD' : 'TAC' }}
        </td>
        <td class="text-center">
          {{ obj.qtdParcela }}
        </td>
        <td class="text-center">
          {{ obj.valorNegociado | maskMoney }}
        </td>
        <td class="text-center">
          <button type="button" class="btn btn-secondary btn-sm" [routerLink]="[obj.id, 'edit']">
            Editar</button>
        </td>
      </tr>
      <tr *ngIf="paginas.totalElements <= 0 || paginas == ''">
        <td colspan="4">
          <strong>Nenhum Registro Encontrado</strong>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<p-paginator [rows]="count" [style]="{'background-color': 'white', 'border': '1px solid white'}"
  [totalRecords]="paginas.totalElements" [rowsPerPageOptions]="[5, 10, 20, 30, 50, 100]"
  (onPageChange)="paginate($event)"></p-paginator>

<p-toast [style]="{marginTop: '80px'}"></p-toast>