<app-bread-crumb [itens]="[{text: title, link: urlList}, {text: pageTitle}]"></app-bread-crumb>
<app-page-header [page-title]="pageTitle" button-text=" Voltar" [button-link]="urlList"
  icon-lass="pi pi-angle-double-left" button-class="text-center" show-button="false"></app-page-header>

<div class="box" style="border-top-left-radius: 9px; border-top-right-radius: 9px;">
  <app-debito-detalhe-aux [objeto]="objeto"></app-debito-detalhe-aux>
  <br>
  <h6 style="font-family: sans-serif;" align="center"><strong>Trâmites</strong></h6>
  <br>
  <div align="center" *ngIf="user.usuarioInterno">
    <button class="btn btn-secondary" type="button" title="Registrar Trâmite" *ngIf="!novoTramite"
      (click)="novoTramite = true; novaMensagem = false; novaMensagemExterno = false;">Registrar Trâmite</button>
  </div>
  <br>
  <form [formGroup]="resourceForm" *ngIf="novoTramite">
    <div class="card">
      <div class="card-header" align="center">
        <strong>Registrar Trâmite</strong>
      </div>
      <div class="card-body">
        <div class="form-row">
          <div class="form-group col-md-7">
            <div class="form-group col-md-12">
              <label class="titleLabel" for="unidade">Unidade de destino</label>
              <p-dropdown [options]="unidades" formControlName="unidade" filter="true" [style]="{'width':'100%'}"
                emptyFilterMessage="Nenhum Usuário Encontrado" placeholder="Escolha uma Unidade" (click)="getUsuarios()"
                resetFilterOnHide="true">
              </p-dropdown>
              <app-form-field-error [form-control]="resourceForm.get('unidade')"></app-form-field-error>
            </div>
          </div>
          <div class="form-group col-md-5">
            <label class="titleLabel" for="usuario">Usuário</label>
            <p-dropdown [options]="usuarios" formControlName="usuario" filter="true" [style]="{'width':'100%'}"
              emptyFilterMessage="Nenhum Usuário Encontrado" placeholder="Escolha um Usuário">
            </p-dropdown>
            <app-form-field-error [form-control]="resourceForm.get('usuario')"></app-form-field-error>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-2">
            <label class="titleLabel" >Mensagens de Texto Padronizadas</label>
            <p-scrollPanel [style]="{width: '100%', height: '300px'}">
              <table class="table">
                <tbody>
                  <tr *ngFor="let item of mensagens">
                    <td title="Clique para ver a mensagem"><a (click)="abrirModal(item)" href="#/tramite"
                        style="color: black;">{{ item.titulo }}</a></td>
                  </tr>
                  <tr *ngIf="mensagens.length <= 0">
                    <td><strong>Nenhum Registro Encontrado.</strong></td>
                  </tr>
                </tbody>
              </table>
            </p-scrollPanel>
          </div>
          <div class="form-group col-md-10">
            <div align="center">
              <label class="titleLabel" for="usuario">Texto da Mensagem</label>
            </div>
            <br>
            <p-editor formControlName="descricao" id="descricao" [style]="{'height':'250px'}">
              <p-header>
                <span class="ql-formats">
                  <select class="ql-font"></select>
                  <select class="ql-size"></select>
  
                  <button class="ql-bold"></button>
                  <button class="ql-italic"></button>
                  <button class="ql-underline"></button>
                  <button class="ql-strike"></button>
  
                  <select class="ql-color"></select>
                  <select class="ql-background"></select>
  
                  <button class="ql-script" value="sub"></button>
                  <button class="ql-script" value="super"></button>
  
                  <button class="ql-header" value="1"></button>
                  <button class="ql-header" value="2"></button>
                  <button class="ql-blockquote"></button>
  
                  <button class="ql-list" value="ordered"></button>
                  <button class="ql-list" value="bullet"></button>
                  <button class="ql-indent" value="-1"></button>
                  <button class="ql-indent" value="+1"></button>
  
                  <button class="ql-direction" value="rtl"></button>
                  <select class="ql-align"></select>
  
                  <button class="ql-link"></button>
                  <button class="ql-video"></button>
                  <button class="ql-formula"></button>
  
                  <button class="ql-clean"></button>
                </span>
              </p-header>
            </p-editor>
            <app-form-field-error [form-control]="resourceForm.get('descricao')"></app-form-field-error>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label class="titleLabel" for="situacaoNotificacaoTramiteId">Situação da Notificação</label>
            <select formControlName="situacaoNotificacaoTramiteId" id="situacaoNotificacaoTramiteId" class="form-control"
              title="Situação">
              <option [value]="null" disabled>Selecione uma Situação</option>
              <option *ngFor="let option of (resourceForm.value.unidade == 19 ? situacaoNotisAr : situacaoNotis)"
                [value]="option.id">
                {{ option.descricao }}
              </option>
            </select>
            <app-form-field-error [form-control]="resourceForm.get('situacaoNotificacaoTramiteId')">
            </app-form-field-error>
          </div>
  
          <div class="form-group col-md-6" *ngIf="liberaDataDiarioOficial()">
            <label class="titleLabel" for="situacaoNotificacaoTramiteId">Data de Publicação no Diario Oficial</label>
            <p-calendar id="dataPublicacaoDiarioOficial" formControlName="dataPublicacaoDiarioOficial" 
              inputStyleClass="form-control" [style]="{'width':'100%'}" dateFormat="dd/mm/yy" [locale]="ptBR" 
              [showButtonBar]="true" title="Data de Publicação no Diario Oficial" placeholder="Data de Publicação no Diario Oficial"
              onkeypress="return data(event);">
            </p-calendar>
            <app-form-field-error [form-control]="resourceForm.get('dataPublicacaoDiarioOficial')"></app-form-field-error>
          </div>
        </div>
  
        <div class="form-row">
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01"
              (change)="onFileChange($event, resourceForm)">
            <label class="custom-file-label" for="inputGroupFile01">Escolha Anexo</label>
          </div>
        </div>
        <div class="table-responsive-lg" style="background: white;font-family: sans-serif;">
          <table class="table table-hover table-bordered" style="font-size: 0.8rem;">
            <thead>
              <tr>
                <th scope="col" class="text-center">Código</th>
                <th scope="col" class="text-center">Nome</th>
                <th scope="col" class="text-center">Ação </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let obj of resourceForm.get('anexos').value; let i = index">
                <td class="text-center">
                  <span *ngIf="i+1 < 10">0</span>{{ i + 1 }}
                </td>
                <td class="text-center">
                  {{ obj.nomeAnexo }}
                </td>
                <td class="text-center">
                  <button type="button" class="btn btn-outline-secondary btn-sm" title="Excluir"
                    (click)="excluir(i, resourceForm)">
                    <i class="fa fa-trash"></i></button>
                  <button type="button" class="btn btn-outline-secondary btn-sm" title="Baixar" (click)="baixar(obj)">
                    <i class="fa fa-cloud-download"></i></button>
                </td>
              </tr>
              <tr *ngIf="resourceForm.get('anexos').value == null || resourceForm.get('anexos').value.length <= 0">
                <td colspan="3">
                  <strong>Nenhum Registro Encontrado</strong>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <button type="button" class="btn btn-secondary mt-3 float-right" (click)="desativaButton ; enviarTrmite()" title="Enviar Trâmite"
          [disabled]="blockButtonSubmission">
          <i class="fa fa-mail-forward"></i>
          Enviar
        </button>
        <button type="button" class="btn btn-danger mt-3" title="Cancelar"
          (click)="novoTramite = false; novaMensagem = false; novaMensagemExterno = false;">
          <i class="pi pi-times"></i>
          Cancelar
        </button>
      </div>
    </div>
  </form>
  <p-accordion [style]="{'font-family':'sans-serif'}" *ngIf="(user.unidade && user.unidade.id == unidade.value) || !user.usuarioInterno">
    <p-accordionTab [header]="unidade.label + ' X Interessado'">
      <div class="card">
        <div class="card-header" align="center">
          <strong>Enviar Mensagem {{ user.usuarioInterno ? 'ao Interessado' : '' }}</strong>
        </div>
        <div class="card-body">
          <div align="center" *ngIf="!novaMensagemExterno">
            <button class="btn btn-secondary" type="button" title="Enviar mensagem"
              (click)="novaMensagem = false; novoTramite = false; novaMensagemExterno = true;"><i class="fa fa-send">
                Enviar
                mensagem</i></button>
          </div>
          <br>
          <form [formGroup]="registroExternoForm" *ngIf="novaMensagemExterno">
            <div class="card">
              <div class="card-header" align="center">
                <strong>Enviar Mensagem {{ user.usuarioInterno ? 'ao Interessado' : '' }}</strong>
              </div>
              <div class="card-body">
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <div align="center">
                      <label for="usuario">Texto da Mensagem</label>
                    </div>
                    <br>
                    <p-editor formControlName="descricao" id="descricao" [style]="{'height':'250px'}">
                      <p-header>
                        <span class="ql-formats">
                          <select class="ql-font"></select>
                          <select class="ql-size"></select>
  
                          <button class="ql-bold"></button>
                          <button class="ql-italic"></button>
                          <button class="ql-underline"></button>
                          <button class="ql-strike"></button>
  
                          <select class="ql-color"></select>
                          <select class="ql-background"></select>
  
                          <button class="ql-script" value="sub"></button>
                          <button class="ql-script" value="super"></button>
  
                          <button class="ql-header" value="1"></button>
                          <button class="ql-header" value="2"></button>
                          <button class="ql-blockquote"></button>
  
                          <button class="ql-list" value="ordered"></button>
                          <button class="ql-list" value="bullet"></button>
                          <button class="ql-indent" value="-1"></button>
                          <button class="ql-indent" value="+1"></button>
  
                          <button class="ql-direction" value="rtl"></button>
                          <select class="ql-align"></select>
  
                          <button class="ql-link"></button>
                          <button class="ql-video"></button>
                          <button class="ql-formula"></button>
  
                          <button class="ql-clean"></button>
                        </span>
                      </p-header>
                    </p-editor>
                    <app-form-field-error [form-control]="registroExternoForm.get('descricao')"></app-form-field-error>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="situacaoNotificacaoTramiteId">Situação da Notificação</label>
                    <select formControlName="situacaoNotificacaoTramiteId" id="situacaoNotificacaoTramiteId"
                      class="form-control" title="Situação">
                      <option [value]="null" disabled>Selecione uma Situação</option>
                      <option *ngFor="let option of situacaoNotis" [value]="option.id">
                        {{ option.descricao }}
                      </option>
                    </select>
                    <app-form-field-error [form-control]="registroExternoForm.get('situacaoNotificacaoTramiteId')">
                    </app-form-field-error>
                  </div>
                </div>
                <div class="form-row">
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="inputGroupFile01"
                      aria-describedby="inputGroupFileAddon01" (change)="onFileChange($event, registroExternoForm)">
                    <label class="custom-file-label" for="inputGroupFile01">Escolha Anexo</label>
                  </div>
                </div>
                <div class="table-responsive-lg" style="background: white;font-family: sans-serif;">
                  <table class="table table-hover table-bordered" style="font-size: 0.8rem;">
                    <thead>
                      <tr>
                        <th scope="col" class="text-center">Código</th>
                        <th scope="col" class="text-center">Nome</th>
                        <th scope="col" class="text-center">Ação </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let obj of registroExternoForm.get('anexos').value; let i = index">
                        <td class="text-center">
                          <span *ngIf="i+1 < 10">0</span>{{ i + 1 }}
                        </td>
                        <td class="text-center">
                          {{ obj.nomeAnexo }}
                        </td>
                        <td class="text-center">
                          <button type="button" class="btn btn-outline-secondary btn-sm" title="Excluir"
                            (click)="excluir(i, registroExternoForm)">
                            <i class="fa fa-trash"></i></button>
                          <button type="button" class="btn btn-outline-secondary btn-sm" title="Baixar"
                            (click)="baixar(obj)">
                            <i class="fa fa-cloud-download"></i></button>
                        </td>
                      </tr>
                      <tr
                        *ngIf="registroExternoForm.get('anexos').value == null || registroExternoForm.get('anexos').value.length <= 0">
                        <td colspan="3">
                          <strong>Nenhum Registro Encontrado</strong>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <button type="button" class="btn btn-secondary mt-3 float-right" (click)="enviarMensagemExterno()"
                  title="Enviar Mensagem">
                  <i class="fa fa-mail-forward"></i>
                  Enviar
                </button>
                <button type="button" class="btn btn-danger mt-3" title="Cancelar"
                  (click)="novaMensagem = false; novoTramite = false; novaMensagemExterno = false;">
                  <i class="pi pi-times"></i>
                  Cancelar
                </button>
              </div>
            </div>
          </form>
          <div class="card" *ngFor="let re of objeto.registroExternos">
            <div class="card-header">
              <strong>{{ 'Em ' + (re.dataRegistro | date:'dd/MM/yyyy') + ' às ' + (re.dataRegistro | date:'HH:mm:ss') + ' - "' + 
                (re.nomeUsuario) + '" disse' }}</strong>
            </div>
            <div class="card-body">
              <div [innerHTML]="re.descricao"></div>
              <div *ngIf="re.anexos && re.anexos.length > 0">
                <br>
                <strong>Arquivo{{ re.anexos.length > 1 ? 's' : '' }}</strong>
                <br><br>
                <ul>
                  <li *ngFor="let a of re.anexos"><a href="#/tramite" [title]="'Clique para baixar: ' + a.nomeAnexo"
                      (click)="baixarAnexo(a.id)">{{a.nomeAnexo}}</a></li>
                </ul>
              </div>
            </div>
          </div>
          <a target="_blank" class="btn btn-secondary float-right mt-3" title="Imprimir" [href]="getUrlImpressao(objeto.id, 'externo')"
            *ngIf="objeto.registroExternos && objeto.registroExternos.length > 0">
            <i class="pi pi-print"></i>
            Imprimir
          </a>
        </div>
      </div>
    </p-accordionTab>
  </p-accordion>
  <p-accordion [style]="{'font-family':'sans-serif'}" (onOpen)="fecharEnviarMensagem($event)"
    (onClose)="fecharEnviarMensagem($event)" *ngIf="user.usuarioInterno">
    <p-accordionTab [header]="t.nomeUnidadeEnviou + ' X ' + t.nomeUnidadeRecebeu" *ngFor="let t of objeto.tramites">
      <div class="card">
        <div class="card-header" align="center">
          <strong>Enviar Mensagem a {{ t.nomeUnidadeRecebeu }}</strong>
        </div>
        <div class="card-body" align="right">
          <div class="d-inline p-2 bg-primary text-white">Status: {{ getSituacaoTramiteEnum(t.situacaoTramite) }}</div>
        </div>
        <div class="card-body">
          <div align="center">
            <button class="btn btn-secondary" type="button" title="Enviar mensagem" (click)="abrirEnviarMensagem(t)"
              *ngIf="!novaMensagem && (user.unidade.id == t.unidadeEnviouId || user.unidade.id == t.unidadeRecebeuId)"><i
                class="fa fa-send"> Enviar
                mensagem</i></button>
          </div>
          <br>
          <form [formGroup]="registroForm" *ngIf="novaMensagem">
            <div class="card">
              <div class="card-header" align="center">
                <strong>Enviar Mensagem</strong>
              </div>
              <div class="card-body">
                <div class="form-row">
                  <div class="form-group col-md-7">
                    <div class="form-group col-md-12">
                      <label>Unidade de destino</label>
                      <label title="Unidade" class="form-control">
                        {{ user.unidade.id == t.unidadeEnviouId ? t.nomeUnidadeRecebeu : t.nomeUnidadeEnviou }}</label>
                    </div>
                  </div>
                  <div class="form-group col-md-5">
                    <label for="usuario">Usuário</label>
                    <p-dropdown [options]="usuariosMensagem" formControlName="usuario" filter="true"
                      [style]="{'width':'100%'}" emptyFilterMessage="Nenhum Usuário Encontrado"
                      placeholder="Escolha um Usuário">
                    </p-dropdown>
                    <app-form-field-error [form-control]="registroForm.get('usuario')"></app-form-field-error>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-2">
                    <label>Mensagens de Texto Padronizadas</label>
                    <p-scrollPanel [style]="{width: '100%', height: '300px'}">
                      <table class="table">
                        <tbody>
                          <tr *ngFor="let item of mensagens">
                            <td title="Clique para ver a mensagem"><a (click)="abrirModal(item)" href="#/tramite"
                                style="color: black;">{{ item.titulo }}</a></td>
                          </tr>
                          <tr *ngIf="mensagens.length <= 0">
                            <td><strong>Nenhum Registro Encontrado.</strong></td>
                          </tr>
                        </tbody>
                      </table>
                    </p-scrollPanel>
                  </div>
                  <div class="form-group col-md-10">
                    <div align="center">
                      <label for="usuario">Texto da Mensagem</label>
                    </div>
                    <br>
                    <p-editor formControlName="descricao" id="descricao" [style]="{'height':'250px'}">
                      <p-header>
                        <span class="ql-formats">
                          <select class="ql-font"></select>
                          <select class="ql-size"></select>
  
                          <button class="ql-bold"></button>
                          <button class="ql-italic"></button>
                          <button class="ql-underline"></button>
                          <button class="ql-strike"></button>
  
                          <select class="ql-color"></select>
                          <select class="ql-background"></select>
  
                          <button class="ql-script" value="sub"></button>
                          <button class="ql-script" value="super"></button>
  
                          <button class="ql-header" value="1"></button>
                          <button class="ql-header" value="2"></button>
                          <button class="ql-blockquote"></button>
  
                          <button class="ql-list" value="ordered"></button>
                          <button class="ql-list" value="bullet"></button>
                          <button class="ql-indent" value="-1"></button>
                          <button class="ql-indent" value="+1"></button>
  
                          <button class="ql-direction" value="rtl"></button>
                          <select class="ql-align"></select>
  
                          <button class="ql-link"></button>
                          <button class="ql-video"></button>
                          <button class="ql-formula"></button>
  
                          <button class="ql-clean"></button>
                        </span>
                      </p-header>
                    </p-editor>
                    <app-form-field-error [form-control]="registroForm.get('descricao')"></app-form-field-error>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="situacaoNotificacaoTramiteId">Situação da Notificação</label>
                    <select formControlName="situacaoNotificacaoTramiteId" id="situacaoNotificacaoTramiteId"
                      class="form-control" title="Situação">
                      <option [value]="null" disabled>Selecione uma Situação</option>
                      <option
                        *ngFor="let option of ((user.unidade.id == t.unidadeEnviouId ? t.unidadeRecebeuId : t.unidadeEnviouId) == 19 ? situacaoNotisArDr : situacaoNotis)"
                        [value]="option.id">
                        {{ option.descricao }}
                      </option>
                    </select>
                    <app-form-field-error [form-control]="registroForm.get('situacaoNotificacaoTramiteId')">
                    </app-form-field-error>
                  </div>
                  <div class="form-group col-md-3" *ngIf="arsRecebidos.indexOf(registroForm.value.situacaoNotificacaoTramiteId + '') >= 0">
                    <label for="dataRecebimentoAr">Data do recebimento do AR</label>
                    <p-calendar id="dataRecebimentoAr" formControlName="dataRecebimentoAr" inputStyleClass="form-control" [style]="{'width':'100%'}"
                      dateFormat="dd/mm/yy" [locale]="ptBR" [showButtonBar]="true" title="Data do recebimento do AR" [maxDate]="maxDate"
                      placeholder="Data do recebimento do AR" onkeypress="return data(event);">
                    </p-calendar>
                    <app-form-field-error [form-control]="registroForm.get('dataRecebimentoAr')">
                    </app-form-field-error>
                  </div>
                  <div class="form-group col-md-3" *ngIf="publicacoesDiario.indexOf(registroForm.value.situacaoNotificacaoTramiteId + '') >= 0">
                    <label for="dataPublicacaoDiarioOficial">Data de publicação no Diário Oficial</label>
                    <p-calendar id="dataPublicacaoDiarioOficial" formControlName="dataPublicacaoDiarioOficial" inputStyleClass="form-control" [style]="{'width':'100%'}"
                      dateFormat="dd/mm/yy" [locale]="ptBR" [showButtonBar]="true" title="Data de publicação no Diário Oficial" [maxDate]="maxDate"
                      placeholder="Data de publicação no Diário Oficial" onkeypress="return data(event);">
                    </p-calendar>
                    <app-form-field-error [form-control]="registroForm.get('dataPublicacaoDiarioOficial')">
                    </app-form-field-error>
                  </div>
                </div>
                <div class="form-row">
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="inputGroupFile01"
                      aria-describedby="inputGroupFileAddon01" (change)="onFileChange($event, registroForm)">
                    <label class="custom-file-label" for="inputGroupFile01">Escolha Anexo</label>
                  </div>
                </div>
                <div class="table-responsive-lg" style="background: white;font-family: sans-serif;">
                  <table class="table table-hover table-bordered" style="font-size: 0.8rem;">
                    <thead>
                      <tr>
                        <th scope="col" class="text-center">Código</th>
                        <th scope="col" class="text-center">Nome</th>
                        <th scope="col" class="text-center">Ação </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let obj of registroForm.get('anexos').value; let i = index">
                        <td class="text-center">
                          <span *ngIf="i+1 < 10">0</span>{{ i + 1 }}
                        </td>
                        <td class="text-center">
                          {{ obj.nomeAnexo }}
                        </td>
                        <td class="text-center">
                          <button type="button" class="btn btn-outline-secondary btn-sm" title="Excluir"
                            (click)="excluir(i, registroForm)">
                            <i class="fa fa-trash"></i></button>
                          <button type="button" class="btn btn-outline-secondary btn-sm" title="Baixar"
                            (click)="baixar(obj)">
                            <i class="fa fa-cloud-download"></i></button>
                        </td>
                      </tr>
                      <tr
                        *ngIf="registroForm.get('anexos').value == null || registroForm.get('anexos').value.length <= 0">
                        <td colspan="3">
                          <strong>Nenhum Registro Encontrado</strong>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <button type="button" class="btn btn-secondary mt-3 float-right" (click)="enviarMensagem(t)"
                  title="Enviar Mensagem">
                  <i class="fa fa-mail-forward"></i>
                  Enviar
                </button>
                <button type="button" class="btn btn-danger mt-3" title="Cancelar"
                  (click)="novaMensagem = false; novoTramite = false; novaMensagemExterno = false;">
                  <i class="pi pi-times"></i>
                  Cancelar
                </button>
              </div>
            </div>
          </form>
          <div class="card" *ngFor="let r of t.registros">
            <div class="card-header">
              <strong>{{ 'Em ' + (r.dataRegistro | date:'dd/MM/yyyy') + ' às ' + (r.dataRegistro | date:'HH:mm:ss') + ' - "' + 
                (r.nomeUsuarioEmissor) + '" disse para "' 
                + (r.nomeUsuarioReceptor ? r.nomeUsuarioReceptor : (r.unidadeRecebeuId == t.unidadeRecebeuId ? t.nomeUnidadeRecebeu : t.nomeUnidadeEnviou)) + '"'  }}</strong>
            </div>
            <div class="card-body">
              <div [innerHTML]="r.descricao"></div>
              <div *ngIf="r.anexos && r.anexos.length > 0">
                <br>
                <strong>Arquivo{{ r.anexos.length > 1 ? 's' : '' }}</strong>
                <br><br>
                <ul>
                  <li *ngFor="let a of r.anexos"><a href="#/tramite" [title]="'Clique para baixar: ' + a.nomeAnexo"
                      (click)="baixarAnexo(a.id)">{{a.nomeAnexo}}</a></li>
                </ul>
              </div>
            </div>
            <div class="card-footer">
              {{ r.situacaoNotificacaoTramite.descricao}}
              {{ r.dataPublicacaoDiarioOficial ? ' Publicado na data: '+ (r.dataPublicacaoDiarioOficial | date:'dd/MM/yyyy') : '' }}
              {{ r.dataRecebimentoAr != null ? "em: " + (r.dataRecebimentoAr| date:'dd/MM/yyyy') : '' }}
            </div>
          </div>
          <a target="_blank" class="btn btn-secondary float-right mt-3" title="Imprimir" [href]="getUrlImpressao(t.id, 'tramite')"
            *ngIf="t.registros && t.registros.length > 0">
            <i class="pi pi-print"></i>
            Imprimir
          </a>
        </div>
      </div>
    </p-accordionTab>
  </p-accordion>
  <div>
    <div class="float-right ">
      <a target="_blank" class="btn btn-secondary float-right mt-3" title="Baixar Todos os Anexos" [href]="getUrlBaixarTodosAnexos(objeto.id)">
        <i class="pi pi-print"></i>
        Baixar Todos os Anexos
      </a>
    </div>
    <div class="float-right col-md-auto">
      <a target="_blank" class="btn btn-secondary float-right mt-3" title="Imprimir Todos os Registros" [href]="getUrlImpressao(objeto.id, 'debito')">
        <i class="pi pi-print"></i>
        Imprimir Todos os Registros
      </a>
    </div>
  </div>
  
  <p-dialog [header]="mensagem.titulo" [(visible)]="display" [modal]="true" [responsive]="true"
    [style]="{width: '700px', minWidth: '500px'}" [minY]="70" [maximizable]="true" [baseZIndex]="10000" [closable]="true">
    <span>
      <p>
        {{ mensagem.descricao }}
      </p>
    </span>
    <p-footer>
      <button type="button" class="btn btn-secondary" title="Selecionar" (click)="colarMensagem()">
        <i class="pi pi-check"></i> Selecionar</button>
    </p-footer>
  </p-dialog>
  
  <p-toast [style]="{marginTop: '80px'}"></p-toast>
</div>