<button type="button" class="btn btn-secondary float-right mt-2" title="Analisar Crédito" *ngIf="!usuarioId"
  (click)="analisar()">
  <i class="fa fa-search"></i>
  Analisar Crédito
</button>
<button type="button" class="btn btn-secondary float-right mt-2" title="Assumir à Análise do Crédito" *ngIf="usuarioId && usuarioId != id"
  (click)="assumir()">
  <i class="fa fa-search"></i>
  Assumir Análise do Crédito
</button>
<p-toast [style]="{marginTop: '80px'}"></p-toast>
<p-confirmDialog [style]="{width: '25vw'}"></p-confirmDialog>