<app-bread-crumb [itens]="[{text: 'Membros'}]"></app-bread-crumb>
<app-page-header page-title="Membros" button-text=" Novo Membro" button-link="new" icon-lass="pi pi-plus"
  button-class="text-center"></app-page-header>

<div class="table-responsive-lg" style="background: white;font-family: sans-serif;">
  <table class="table table-hover table-bordered" style="font-size: 0.8rem;">
    <thead>
      <tr>
        <th scope="col" class="text-center">Código</th>
        <th scope="col" class="text-center">Nome</th>
        <th scope="col" class="text-center">CPF</th>
        <th scope="col" class="text-center">Telefone</th>
        <th scope="col" class="text-center">E-mail</th>
        <th scope="col" class="text-center">Sexo</th>
        <th scope="col" class="text-center">Situação</th>
        <th scope="col" class="text-center">Tipo</th>
        <th scope="col" class="text-center">Data de nascimento</th>
        <th scope="col" class="text-center">Ações </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let obj of paginas.content">
        <td class="text-center">
          <span *ngIf="obj.id < 10">0</span>{{ obj.id }}
        </td>
        <td class="text-center">
          {{ obj.nome }}
        </td>
        <td class="text-center">
          {{ obj.cpf }}
        </td>
        <td class="text-center">
          {{ obj.telefone }}
        </td>
        <td class="text-center">
          {{ obj.email }}
        </td>
        <td class="text-center">
          {{ obj.sexo ? 'Masculino' : 'Feminino' }}
        </td>
        <td class="text-center">
          {{ getSituacaoEnum(obj.situacao) }}
        </td>
        <td class="text-center">
          {{ obj.tipo }}
        </td>
        <td class="text-center">
          {{ obj.dataNascimento | date: 'dd/MM/yyyy' }}
        </td>
        <td class="text-center">
          <button type="button" class="btn btn-secondary btn-sm" [routerLink]="[obj.id, 'edit']">
            Editar</button>
        </td>
      </tr>
      <tr *ngIf="paginas.totalElements <= 0 || paginas == ''">
        <td colspan="9">
          <strong>Nenhum Registro Encontrado</strong>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<p-paginator [rows]="count" [style]="{'background-color': 'white', 'border': '1px solid white'}"
  [totalRecords]="paginas.totalElements" [rowsPerPageOptions]="[5, 10, 20, 30, 50, 100]"
  (onPageChange)="paginate($event)"></p-paginator>

<p-toast [style]="{marginTop: '80px'}"></p-toast>
