<form [formGroup]="loginForm" (submit)="onSubmit()">
  <main>
    <div class="backgroundAgr conteiner">
      <div style="padding-top: 25px;"></div>
      <h1 align="center" style="color: white; height: 1000%; font-family: sans-serif;">Portal
        de Serviços Eletrônicos da AGR</h1>
      <div style="padding-bottom: 25px;"></div>
    </div>
    <div style="margin-top: 30px;"></div>

    <div class="container">
      <div class="row">
        <div class="col col-md-4 visible-md-block visible-lg-block padding-top-3">
          <div style="margin-left: -150px; max-width: 1000px">
            <span class="image object">
              <img src="assets/images/integracao.png" alt="" height="400" />
            </span>
          </div>
        </div>
        <div class="col col-md-8">
          <div class="visible-md-block visible-lg-block" style="margin-top: 50px;"></div>
          <div id="loginbox" class="mainbox">
            <div>
              <div>

                <div class="panel-heading">
                  <div style="float: right; position: relative; top: 13px; right: -2px">
                    <a href="#cadastrounico/recuperarsenha" title="Recuperar senha" style="font-family: sans-serif; color: #5e6265">Esqueceu sua senha?</a>
                  </div>
                </div>
                <!-- Login msg -->
                <div class="panel-title text-bold" style="float: Left; position: relative; top: +1px">
                  <h2 style="color: #5e6265; font-family: sans-serif;">Login</h2>
                </div>                
                <!-- campo login -->
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="pi pi-user"></i></span>
                  </div>
                  <input title="Digite seu login" type="text" class="form-control" id="login" formControlName="login"
                    placeholder="Login" [imask]="imaskConfig">
                  <div class="text-danger" *ngIf="loginForm.get('login').invalid && loginForm.get('login').touched">
                    <span class="help-block" *ngIf="loginForm.get('login').errors.required">Login é inválido</span>
                  </div>
                </div>

                <!-- Senha -->
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="pi pi-lock"></i></span>
                  </div>
                  <input title="Digite sua senha" type="password" class="form-control" id="password"
                    formControlName="password" placeholder="Senha">
                  <div class="text-danger" *ngIf="loginForm.get('login').invalid && loginForm.get('login').touched">
                    <span class="help-block" *ngIf="loginForm.get('login').errors.required">Senha inválida</span>
                  </div>
                </div>

                <!-- Botão Login -->
                <div class="form-group text-right">
                  <div class="col-sm-13 controls">
                    <button [disabled]="loginForm.invalid" type="submit" class="btn btn-secondary"><i class="pi pi-sign-in"> Acessar</i></button>
                  </div>
                </div>
                <!--  -->
                <div style="padding-bottom: 50px;"></div>
                <div class="col-md-12" style="float: Left; position: relative; top: +5px; background: #f7f7f7;">
                  <div class="row">
                    <div class="col-md-4" style="text-align: left;">
                      
                      <button title="Cadastrar empresa" [routerLink]="['/cadastrounico/cadastroempresa/1']" type="button" class="btn btn-link" style="color: #5e6265;">
                        <i class="pi pi-external-link"></i>
                        <b>Cadastre-se</b>
                      </button>
                    </div>
                    <div class="col-md-4" style="text-align: center;">

                      <button type="button" class="btn btn-link" style="color: #5e6265;"
                      [routerLink]="['/cadastrounico/cadastroempresa/2']">
                        <i class="pi pi-replay"></i>
                        <b>Renovar Certificado</b>
                      </button>
                    </div>
                    <div class="col-md-4" style="text-align: right;">

                      <button type="button" class="btn btn-link" style="color: #5e6265;"
                        (click)="rcValidarCertificado()">
                        <i class="pi pi-check"></i>
                        <b>Validar Certificado</b>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div style="padding-bottom: 30px;"></div>
    </div>

  </main>
  <div class="card-footer text-muted">
    <div class="row" style="color: #5e6265">
      <div class="col col-md-5">
        <h6 class="text-color-white margin-left-0" style="font-family: sans-serif;">Sobre o Portal de
          Serviços</h6>
        <p>
          <font size="2">
            O Portal de Serviços da AGR reúne os serviços
            abertos à população, como serviços de Cadastro e licenciamento das
            empresas do Transporte de Fretamento, bem como a emissão de
            Licenças via Web. O portal também disponibiliza a geração de
            relatórios gerenciais para o auxílio na tomada de decisões pela
            Gerência de Transportes e pelo Conselho Regulador.
          </font>
        </p>
      </div>

      <div class="col col-md-2"></div>

      <div class="col col-md-5 text-left">
        <h6 class="text-color-white margin-right-0" style="font-family: sans-serif;">Ajuda</h6>
        <p class="h5" style="font-family: sans-serif;">
          <font size="2">
            Caso tenha alguma dúvida no seu cadastro, renovação ou solicitação
            de licenças e certificados, <a class="link-laranja" href="#cadastrounico/tutorial"
              target="_blank">clique
              aqui</a> para obter instruções.
          </font>
        </p>
        <div style="padding-top: 2px;"></div>

        <h6 class="text-color-white margin-right-0" style="font-family: sans-serif;">Canais de
          Atendimento</h6>
        <p class="h5" style="font-family: sans-serif;">
          <font size="2">
            <a class="link-laranja" href="https://www.portal.agr.go.gov.br/ouvidoria/login.jsp" target="_blank">Ouvidoria
              da AGR</a> <br /> <b>E-mail:</b> governodigital@agr.go.gov.br
          </font>
        </p>
      </div>
    </div>
    <div class="row padding-3">
      <div class="col col-md-12">
        <div style="padding-top: 20px;"></div>
        <h6 class="text-center" style="font-family: sans-serif;">© Agência Goiana de
          Regulação. Todos os Direitos Reservados.</h6>
      </div>
    </div>
  </div>
</form>
<p-dialog [(visible)]="display" [modal]="true" [responsive]="true" [style]="{width: '650px', minWidth: '100px'}" [minY]="70" 
  [maximizable]="true" [baseZIndex]="10000">
    <!--Título-->
    <div class="overflow-auto" style="height: 60px; word-wrap: break-word; border-color: ">
      <quill-editor [(ngModel)]="titleModal" [readOnly]="true" 
        [modules]="{toolbar:false}" [style]="{border: '0px'}">
      </quill-editor>
    </div>
    <!--Descrição-->
    <div *ngIf="tamanhoResponsivel" class="table-responsive" style="background: white;font-family: sans-serif;"  style="height: 400px">
      <quill-editor [(ngModel)]="descricaoModal" [readOnly]="true" 
        [modules]="{toolbar:false}" >
      </quill-editor>
    </div>
    <quill-editor *ngIf="!tamanhoResponsivel" [(ngModel)]="descricaoModal" [readOnly]="true" 
      [modules]="{toolbar:false}">
    </quill-editor>
  </p-dialog>