<app-bread-crumb [itens]="[{text: 'Créditos', link: urlList}, {text: pageTitle}]"></app-bread-crumb>
<app-page-header [page-title]="pageTitle" button-text=" Voltar" [button-link]="urlList"
  icon-lass="pi pi-angle-double-left" button-class="text-center" show-button="false"></app-page-header>

<div class="form-row" *ngIf="currentAction == 'edit' && objeto.usuarioId != id">
  <div class="form-group col-md-10">
    <label style="color:#ff9900">
    {{objeto.usuarioId == null ?
        'Para iniciar o tratamento do débito é necessário assumir a análise, clicando no botão Analisar Crédito.'
        : objeto.usuarioId == id ? 
          ""
          :"O débito está sendo analisado pelo analista " + objeto.nomeUsuario 
          +". Se deseja assumir a análise do débito clique em Assumir Análise do Crédito."}}
    </label>
  </div>
  <div class="form-group col-md-2">
    <app-debito-assumir-analise [usuario-id]="objeto.usuarioId" [id]="id" [id-debito]="objeto.id" [confirmation-service]="confirmationService"></app-debito-assumir-analise>
  </div>
</div>

<div class="box" style="border-top-left-radius: 9px; border-top-right-radius: 9px;">
  <app-debito-detalhe-aux [objeto]="objeto"></app-debito-detalhe-aux>
</div>

<form [formGroup]="resourceForm">
  <div class="card">
    <div class="card-header text-center">
      <h5 style="font-family: sans-serif;"><strong>Checklist</strong></h5>
    </div>
    <div class="card-body">
      <div class="form-row">
        <div class="form-group col-md-12" *ngFor="let item of resourceForm.value.itemChecklists">
          <div class="form-check"> 
            <p-checkbox [name]="item.id" [value]="item.id" [formControl]="resourceForm.controls['checklists']" [label]="item.descricao"
              [disabled]="verificaValidade(objeto)" labelStyleClass="col-md-11"></p-checkbox>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label class="titleLabel" for="situacaoChecklist">Situação</label>
          <label class="form-control" *ngIf="verificaValidade(objeto)">{{ getSitucaoChecklistDebitoEnum(objeto.situacaoChecklist) }}</label>
          <select id="situacaoChecklist" formControlName="situacaoChecklist" class="form-control" title="Situação"
            *ngIf="!blocked && (!objeto.situacaoChecklist || objeto.situacaoChecklist == 'DOCUMENTACAO_IMPUGNADA' || objeto.situacaoDebito == 'CADASTRO_RECUSADO') && objeto.usuarioId && objeto.usuarioId == id">
            <option [value]="null" disabled>Selecione uma Situação</option>
            <option *ngFor="let option of situacaoChecklistOptions" [value]="option.value">{{ option.text }}</option>
          </select>
          <app-form-field-error [form-control]="resourceForm.get('situacaoChecklist')"></app-form-field-error>
          </div>
      </div>
    </div>
  </div>
</form>

<div class="form-row">
  <div class="form-group col-md-4">
    <a class="btn btn-danger mt-3" [href]="'#' + urlList" title="Cancelar">
      <i class="pi pi-times"></i>
      Cancelar
    </a>
  </div>
  <div class="form-group col-md-4 text-center">
    <a class="btn btn-secondary mt-3" [href]="impressao" target="_blank" title="Imprimir" *ngIf="objeto.situacaoChecklist">
      <i class="pi pi-print"></i>
      Imprimir
    </a>
  </div>
  <div class="form-group col-md-4">
    <button type="button" class="btn btn-secondary float-right mt-3" (click)="salvar()"
      title="Salvar"
      *ngIf="!blocked && (!objeto.situacaoChecklist || objeto.situacaoChecklist == 'DOCUMENTACAO_IMPUGNADA' || objeto.situacaoDebito == 'CADASTRO_RECUSADO') && objeto.usuarioId && objeto.usuarioId == id">
      <i class="pi pi-save"></i>Salvar</button>
    <button type="button" class="btn btn-secondary float-right mt-3" (click)="habilitaEdit()"
      title="Gerar Novo Checklist"
      *ngIf="blocked && (objeto.situacaoDebito == 'CADASTRO_RECUSADO' || objeto.situacaoChecklist == 'DOCUMENTACAO_IMPUGNADA') && objeto.usuarioId && objeto.usuarioId == id">
      <i class="pi pi-save"></i> Gerar Novo Checklist
    </button>
  </div>
</div>