<app-bread-crumb [itens]="[{text: 'Índice IGP-DI', link: urlList}, {text: pageTitle}]"></app-bread-crumb>
<app-page-header [page-title]="pageTitle" button-text=" Voltar" [button-link]="urlList"
  icon-lass="pi pi-angle-double-left" button-class="text-center"></app-page-header>

<form [formGroup]="resourceForm" (submit)="submitForm()" *ngIf="renderedForm" style="font-size: .8rem;">
  <div class="box card">
    <div class="card-body">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label class="titleLabel" >Mês / Ano</label>
          <label title="Mês / Ano" class="form-control readonlyLabel">{{mesAno}}</label>
        </div>
        <div class="form-group col-md-6">
          <label class="titleLabel" for="indiceMes">Índice do Mês</label>
          <input class="form-control" placeholder="Índice do Mês" title="Índice do Mês" 
            formControlName="indiceMes" [imask]="maskInter3" (keyup)="passaCem()">
          <app-form-field-error [form-control]="resourceForm.get('indiceMes')"></app-form-field-error>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label class="titleLabel" >Multiplicador IGP-DI</label>
          <label title="Multiplicador IGP-DI" class="form-control readonlyLabel">{{resourceForm.get('multiplicadorIgpdi').value}}</label>
        </div>
        <div class="form-group col-md-6">
          <label class="titleLabel" >Coeficiente Acumulado</label>
          <label title="Coeficiente Acumulado" class="form-control readonlyLabel">{{resourceForm.get('coeficienteAcumulado').value}}</label>
        </div>
      </div>
      <button type="submit" class="btn btn-secondary float-right mt-3" title="Salvar">
        <i class="pi pi-save"></i>
        Salvar
      </button>
      <button type="button" class="btn btn-danger mt-3" [routerLink]="[urlList]" title="Cancelar">
        <i class="pi pi-times"></i>
        Cancelar
      </button>
    </div>
  </div>
</form>
<label *ngIf="!renderedForm">
  {{ "Indice já se encontra cadastrado para o mês / ano de " + mesAno }}
</label>
<p-toast [style]="{marginTop: '80px'}"></p-toast>