<app-bread-crumb [itens]="[{text: 'Área de Atuação', link: urlList}, {text: pageTitle}]"></app-bread-crumb>
<app-page-header [page-title]="pageTitle" button-text=" Voltar" [button-link]="urlList"
  icon-lass="pi pi-angle-double-left" button-class="text-center"></app-page-header>

<form [formGroup]="resourceForm" (submit)="submitForm()" style="font-size: .8rem;">
  <div class="box card">
    <div class="card-body">
      <div class="form-row">
        <div class="form-group col-md-12">
          <app-input-padrao for-name="descricao" nome="Descrição" [resource-form]="resourceForm"></app-input-padrao>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-2">
          <label class="titleLabel" for="situacao">Situação</label>
          <select formControlName="situacao" id="situacao" class="form-control" title="Situação">
            <option [value]="null" disabled>Selecione uma Situação</option>
            <option *ngFor="let option of situacaoOptions" [value]="option.value">{{ option.text }}</option>
          </select>
          <app-form-field-error [form-control]="resourceForm.get('situacao')"></app-form-field-error>
        </div>
      </div>
      <button type="submit" class="btn btn-secondary float-right mt-3" title="Salvar">
        <i class="pi pi-save"></i>
        Salvar
      </button>
      <button type="button" class="btn btn-danger mt-3" [routerLink]="[urlList]" title="Cancelar">
        <i class="pi pi-times"></i>
        Cancelar
      </button>
    </div>
  </div>
</form>
<p-toast [style]="{marginTop: '80px'}"></p-toast>