<app-bread-crumb [itens]="[{text: titleDad, link: urlList}, {text: pageTitle}]"></app-bread-crumb>
<app-page-header [page-title]="pageTitle" button-text=" Voltar" [button-link]="urlList"
  icon-lass="pi pi-angle-double-left" button-class="text-center"></app-page-header>

<form [formGroup]="resourceForm" (submit)="submitForm()" *ngIf="!debitoNaoNegociavel && !devedorNaoNegociavel" style="font-size: .8rem;">
  <div class="box card">
    <div class="card-body">
      <div class="form-row" *ngIf="!debitoEspecifico && (!resource || !resource.id) && !dare">
        <div class="form-group col-md-6">
          <label class="titleLabel" for="devedor">Devedor</label>
          <select formControlName="devedor" id="devedor" class="form-control" title="Devedor"
            (change)="filterDebitos()">
            <option [value]="null" disabled>Selecione um Devedor</option>
            <option *ngFor="let option of objeto.devedores" [value]="option.cnpjCpfCei">
              {{ option.id + ' - ' + option.razaoSocialNome + ' - ' + option.cnpjCpfCei }}</option>
          </select>
          <app-form-field-error [form-control]="resourceForm.get('devedor')"></app-form-field-error>
        </div>
      </div>
      <div class="form-row" *ngIf="resource">
        <div class="form-group col-md-6">
          <label class="titleLabel" >Devedor</label>
          <label
            class="form-control readonlyLabel">{{ resource.debitos[0].id + ' - ' + resource.debitos[0].devedor.razaoSocialNome + ' - ' + resource.debitos[0].devedor.cnpjCpfCei }}</label>
        </div>
      </div>
      <div class="form-row" *ngIf="dare">
        <div class="form-group col-md-6">
          <label class="titleLabel" >Devedor</label>
          <label
            class="form-control">{{ dare.debito.id + ' - ' + dare.debito.devedor.razaoSocialNome + ' - ' + dare.debito.devedor.cnpjCpfCei }}</label>
        </div>
      </div>
      <div class="form-row" *ngIf="resourceForm.value.devedor">
        <div class="form-group col-md-12">
          <div class="form-row">
            <div class="form-group col-md-10">
              <h5 style="font-family: sans-serif;"><strong>Créditos</strong></h5>
            </div>
            <div class="form-group col-md-2" align="right" *ngIf="(!resource || !resource.id) && !dare">
              <h5 style="font-family: sans-serif;"><strong>Selecionar</strong></h5>
            </div>
          </div>
          <p-accordion [style]="{'font-family':'sans-serif'}" (onOpen)="onTabOpen($event)">
            <div class="form-row" *ngFor="let obj of debitos">
              <div class="form-group col-md-11">
                <p-accordionTab
                  [header]="obj.id + ' - ' + obj.tipoDebito.descricao + ' - ' + (obj.dataAtualizacao | date:'dd/MM/yyyy HH:mm:ss') + ' - ' + getSituacao(obj.situacao)"
                  (onOpen)="findDebitoNegociacaoDetalheDtoById(obj.id)">
                  <div align="center" *ngIf="!detalhe">
                    <div class="spinner-border text-secondary" role="status">
                      <span class="sr-only">Carregando...</span>
                    </div>
                  </div>
                  <div class="card" *ngIf="detalhe">
                    <div class="card-body">
                      <div class="form-row">
                        <h5 style="font-family: sans-serif;"><strong>Identificação da Dívida</strong></h5>
                      </div>
                      <div class="table-responsive-lg" style="background: white;font-family: sans-serif;">
                        <table class="table table-striped table-bordered" style="font-size: 0.8rem;">
                          <tbody>
                            <tr>
                              <td class="text-center">
                                <strong>Natureza da Dívida:</strong>
                              </td>
                              <td class="text-center">
                                {{ detalhe.naturezaDivida }}
                              </td>
                              <td class="text-center">
                                <strong>Número do Processo SEI: </strong>
                              </td>
                              <td class="text-center">
                                {{ detalhe.numeroProcesso }}
                              </td>
                              <td class="text-center">
                                <strong>Nº do Auto do Infração: </strong>
                              </td>
                              <td class="text-center">
                                {{ detalhe.numeroAutoInfracao }}
                              </td>
                            </tr>
                            <tr>
                              <td class="text-center">
                                <strong>Nº do Documento:</strong>
                              </td>
                              <td class="text-center">
                                <strong>Situação do Crédito: </strong>
                              </td>
                              <td class="text-center">
                                {{ detalhe.situacao }}
                              </td>
                              <td class="text-center">
                                <strong>Valor Original do Crédito: </strong>
                              </td>
                              <td class="text-center">
                                {{ (detalhe.valor | maskMoney) }}
                              </td>
                            </tr>
                            <tr>
                              <td class="text-center">
                                <strong>Nº da Inscrição:</strong>
                              </td>
                              <td class="text-center">
                                {{ detalhe.dividaId }}
                              </td>
                              <td class="text-center">
                                <strong>Data do Documento: </strong>
                              </td>
                              <td class="text-center">
                                {{ detalhe.dataCalculo }}
                              </td>
                              <td class="text-center">
                                <strong>Artigo da Penalidade:</strong>
                              </td>
                              <td class="text-center">
                                -
                              </td>
                            </tr>
                            <tr *ngIf="detalhe.dataInfracao">
                              <td class="text-center">
                                <strong>Artigo da Infracao:</strong>
                              </td>
                              <td class="text-center">
                                {{ detalhe.leiArtigoResolucao }}
                              </td>
                              <td class="text-center">
                                <strong>Data da Infração: </strong>
                              </td>
                              <td class="text-center">
                                {{ detalhe.dataInfracao }}
                              </td>
                              <td class="text-center">
                                <strong>Hora da Infração: </strong>
                              </td>
                              <td class="text-center">
                                {{ detalhe.horaInfracao }}
                              </td>
                            </tr>
                            <tr>
                              <td class="text-center">
                                <strong>Acréscimos Previstos em Lei: </strong>
                              </td>
                              <td class="text-center" colspan="5">
                                <p>
                                  Multa: Art. 24, § 11, da Lei 13.569/99
                                  Juros: Art. 24-B, da Lei 13.569/99
                                  Atualização Monetária: Art. 24-B, da Lei 13.569/99
                                </p>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </p-accordionTab>
              </div>
              <div class="form-group col-md-1 mt-2" align="center" *ngIf="(!resource || !resource.id) && !dare">
                <!-- style="position: relative; left: 35px" -->
                <div class="form-check">
                  <p-checkbox [value]="obj.id" [formControl]="resourceForm.controls['debitos']"
                    (onChange)="carregarDebitos()"></p-checkbox>
                </div>
              </div>
            </div>
          </p-accordion>
        </div>
      </div>
    </div>
  </div>
</form>

<div class="card" *ngIf="escolhidos && escolhidos.length > 0">
  <div class="card-header">
    <strong style="font-family: sans-serif">Créditos Selecionados</strong>
  </div>
  <div class="card-body">
    <div class="table-responsive-lg" style="background: white;font-family: sans-serif;">
      <table class="table table-hover table-bordered" style="font-size: 0.8rem;">
        <thead>
          <tr>
            <th scope="col" class="text-center">Código</th>
            <th scope="col" class="text-center">Tipo do Crédito</th>
            <th scope="col" class="text-center">Última Atualização</th>
            <th scope="col" class="text-center">Situação </th>
            <th scope="col" class="text-center">Valor </th>
            <th *ngIf="linkDares" scope="col" class="text-center">Valor Atualizado </th>
            <th *ngIf="linkDares" scope="col" class="text-center">DARE </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let obj of escolhidos">
            <td class="text-center">
              <span *ngIf="obj.id < 10">0</span>{{ obj.id }}
            </td>
            <td class="text-center">
              {{ obj.tipoDebito.descricao }}
            </td>
            <td class="text-center">
              {{ (obj.dataAtualizacao | date:'dd/MM/yyyy HH:mm:ss') }}
            </td>
            <td class="text-center">
              {{ getSituacao(obj.situacao) }}
            </td>
            <td class="text-center">
              {{ obj.valor | maskMoney }}
            </td>
            <td class="text-center" *ngIf="linkDares">
              {{ getValorAtualizado(obj.id) == obj.valor ? 'Não há atualização' : ( getValorAtualizado(obj.id)  | maskMoney ) }}
            </td>
            <td class="text-center" *ngIf="linkDares">
              <a [href]="getLinkDare(obj.id)" target="_blank" title="Clique para ver"><i class="fa fa-print"></i></a>
            </td>
          </tr>
          <tr *ngIf="!escolhidos">
            <td colspan="5">
              <strong>Nenhum Registro Encontrado</strong>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6" *ngIf="resourceForm.value.tipoNegociacao != 'pi'">
        <label>Saldo Remanescente: 
          {{ escolhidos[0].devedor.saldoRemanescente ? (escolhidos[0].devedor.saldoRemanescente.saldo  | maskMoney) : '0,00' }}</label>
      </div>
      <div class="form-group col-md-6" *ngIf="resourceForm.value.tipoNegociacao == 'tac'">
        <label>Valor mínimo da parcela: {{ (objeto.parcelaMinTac | maskMoney) }}</label>
      </div>
      <div class="form-group col-md-6" *ngIf="resourceForm.value.tipoNegociacao == 'tad'">
        <label>Valor mínimo da parcela: {{ (objeto.parcelaMinTad | maskMoney) }}</label>
      </div>
    </div>
    <div class="form-row" *ngIf="!resource || !resource.id">
      <h5 style="font-family: sans-serif;"><strong>Tipo de Negociação</strong></h5>
    </div>
    <br>
    <form [formGroup]="resourceForm">
      <div class="form-row" *ngIf="!resource || !resource.id">
        <div class="form-group col-md-4">
          <div class="custom-control custom-radio" align="left">
            <input type="radio" class="custom-control-input" value="pi" id="pi" formControlName="tipoNegociacao"
              (change)="selecionarTipoNegociacao(resourceForm.value.tipoNegociacao)">
            <label class="custom-control-label" for="pi">Pagamento Integral</label>
          </div>
        </div>
        <div class="form-group col-md-4" *ngIf="!dare">
          <div class="custom-control custom-radio" align="center">
            <input type="radio" class="custom-control-input" value="tac" id="tac" formControlName="tipoNegociacao"
              (change)="selecionarTipoNegociacao(resourceForm.value.tipoNegociacao)">
            <label class="custom-control-label" for="tac">Termo de Acordo de Parcelamento - TAC</label>
          </div>
        </div>
        <div class="form-group col-md-4" *ngIf="!dare && objeto.isTad">
          <div class="custom-control custom-radio" align="right">
            <input type="radio" class="custom-control-input" value="tad" id="tad" formControlName="tipoNegociacao"
              (change)="selecionarTipoNegociacao(resourceForm.value.tipoNegociacao)">
            <label class="custom-control-label" for="tad">Termo de Adesão - TAD (REFIS)</label>
          </div>
        </div>
      </div>
      <div class="form-row" *ngIf="tipoNegociacaoAtual == 'tad'">
        <div class="form-group col-md-2">
          <label class="titleLabel" for="data">Data de Pagamento</label>
          <p-calendar id="date" formControlName="dataPagamento" inputStyleClass="form-control"
            [style]="{'width':'100%'}" dateFormat="dd/mm/yy" [locale]="ptBR" [showButtonBar]="true" title="Data"
            [minDate]="minDate" [maxDate]="objeto.ate" placeholder="Data" onkeypress="return data(event);">
          </p-calendar>
          <app-form-field-error [form-control]="resourceForm.get('dataPagamento')"></app-form-field-error>
        </div>
        <div class="form-group col-md-2">
          <label class="titleLabel" for="parcela">Quantidade de Parcelas</label>
          <input type="number" class="form-control" [max]="edicaoRefis.numeroParcela" placeholder="Parcelas"
            title="Parcelas" formControlName="parcela" onkeypress="return somenteNumero(event);" [imask]="maskInter">
          <li class="descricaoPadrao">A quantidade de parcelas deve ser no máximo de
            {{ edicaoRefis.numeroParcela }}.
          </li>
          <app-form-field-error [form-control]="resourceForm.get('parcela')"></app-form-field-error>
        </div>
        <div class="form-group col-md-8 mt-3">
          <button type="button" class="btn btn-secondary float-right mt-3" title="Iniciar Simulação"
            (click)="iniciarSimulacao()"
            [disabled]="!resourceForm.value.dataPagamento || !resourceForm.value.parcela || resourceForm.value.parcela <= 0">
            <i class="fa fa-file-pdf-o"></i>
            Iniciar Simulação
          </button>
        </div>
        <div class="form-group col-md-12" *ngIf="resource">
          <div class="table-responsive-lg" style="background: white;font-family: sans-serif;"
            *ngIf="tipoNegociacaoAtual == 'tad'">
            <table class="table table-striped table-bordered" style="font-size: 0.8rem;">
              <tbody>
                <tr>
                  <td class="text-center">
                    <strong>Quantidade de parcelas:</strong>
                  </td>
                  <td class="text-center">
                    {{ resource.qtdParcela }}
                  </td>
                  <td class="text-center">
                    <strong>Valor para primeira parcela:</strong>
                  </td>
                  <td class="text-center" *ngIf="!isAguardandoAprovacaoParcelamento">
                    {{ resource.parcelas[0].valorAtualizado | maskMoney }}
                  </td>
                  <td class="text-center" *ngIf="isAguardandoAprovacaoParcelamento">
                    -
                  </td>
                  <td class="text-center">
                    <strong>Data de pagamento da primeira parcela:</strong>
                  </td>
                  <td class="text-center" *ngIf="!isAguardandoAprovacaoParcelamento">
                    {{ resource.parcelas[0].dataVencimento | date: 'dd/MM/yyyy' }}
                  </td>
                  <td class="text-center" *ngIf="isAguardandoAprovacaoParcelamento">
                    -
                  </td>
                </tr>
                <tr>
                  <td class="text-center">
                    <strong>Valor total atualizado:</strong>
                  </td>
                  <td class="text-center">
                    {{  resource.valorNegociado | maskMoney }}
                  </td>
                  <td class="text-center" *ngIf="resource.parcelas.length > 1">
                    <strong>Valor para as demais parcelas:</strong>
                  </td>
                  <td class="text-center" *ngIf="resource.parcelas.length > 1">
                    {{ resource.parcelas[1].valorAtualizado | maskMoney }}
                  </td>
                  <td class="text-center">
                    <strong>Data de pagamento das demais parcela:</strong>
                  </td>
                  <td class="text-center">
                    Todas as demais parcelas vencerão no décimo<br>dia de seus respectivos meses.
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="form-row" *ngIf="tipoNegociacaoAtual == 'tac'">
        <div class="form-group col-md-2">
          <label class="titleLabel" for="data">Data de Pagamento</label>
          <p-calendar id="date" formControlName="dataPagamento" inputStyleClass="form-control"
            [style]="{'width':'100%'}" dateFormat="dd/mm/yy" [locale]="ptBR" [showButtonBar]="true" title="Data"
            [minDate]="minDate" [maxDate]="objeto.ate" placeholder="Data" onkeypress="return data(event);">
          </p-calendar>
          <app-form-field-error [form-control]="resourceForm.get('dataPagamento')"></app-form-field-error>
        </div>
        <div class="form-group col-md-10 mt-3">
          <button type="button" class="btn btn-secondary float-right mt-3" title="Iniciar Simulação"
            (click)="iniciarSimulacao()" *ngIf="!resource || !resource.id"
            [disabled]="!resourceForm.value.dataPagamento && resourceForm.value.dataPagamento <= minDate && objeto.ate >= resourceForm.value.dataPagamento">
            <i class="fa fa-file-pdf-o"></i>
            Iniciar Simulação
          </button>
        </div>
        <div class="form-group col-md-12" *ngIf="tacSimulacaoDTO != ''">
          <div class="table-responsive-lg" style="background: white;font-family: sans-serif;"
            *ngIf="tipoNegociacaoAtual == 'tac'">
            <table class="table table-striped table-bordered" style="font-size: 0.8rem;">
              <tbody>
                <tr>
                  <td class="text-center">
                    <strong>Quantidade máxima de parcelas:</strong>
                  </td>
                  <td class="text-center">
                    {{ tacSimulacaoDTO.numMaxParcelas }}
                  </td>
                  <td class="text-center">
                    <strong>Valor mínimo para primeira parcela:</strong>
                  </td>
                  <td class="text-center">
                    {{ tacSimulacaoDTO.valorMinEntrada }}
                  </td>
                  <td class="text-center">
                    <strong>Data de pagamento da primeira parcela:</strong>
                  </td>
                  <td class="text-center">
                    {{ tacSimulacaoDTO.data | date: 'dd/MM/yyyy' }}
                  </td>
                  <td class="text-center">
                    <strong>Valor total atualizado:</strong>
                  </td>
                  <td class="text-center">
                    {{ tacSimulacaoDTO.valorTotalAtualizado }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="form-row" *ngIf="resource && resource.id">
        <div class="form-group col-md-12">
          <div class="table-responsive-lg" style="background: white;font-family: sans-serif;">
            <table class="table table-striped table-bordered" style="font-size: 0.8rem;">
              <tbody>
                <tr>
                  <td class="text-center">
                    <strong>Razão Social/Nome do Interessado:</strong>
                  </td>
                  <td class="text-center" colspan="2">
                    {{ debitoNegociacaoPiDTO.razaoSocialNome }}
                  </td>
                  <td class="text-center">
                    <strong>CNPJ/CPF/CEI do Interessado:</strong>
                  </td>
                  <td class="text-center" colspan="2">
                    {{ debitoNegociacaoPiDTO.cnpjCpfCei }}
                  </td>
                </tr>
                <tr>
                  <td class="text-center">
                    <strong>Data de vencimento da primeira parcela:</strong>
                  </td>
                  <td class="text-center" *ngIf="!isAguardandoAprovacaoParcelamento">
                    {{ resource.parcelas[0].dataVencimento | date: 'dd/MM/yyyy' }}
                  </td>
                  <td class="text-center" *ngIf="isAguardandoAprovacaoParcelamento">
                    -
                  </td>
                  <td class="text-center">
                    <strong>Valor negociado:</strong>
                  </td>
                  <td class="text-center">
                    {{ resource.valorNegociado | maskMoney }}
                  </td>
                  <td class="text-center">
                    <strong>CNPJ/CPF/CEI do Representante Legal:</strong>
                  </td>
                  <td class="text-center">
                    {{ debitoNegociacaoPiDTO.cnpjCpfCeiRepresentanteLegal }}
                  </td>
                </tr>
                <tr>
                  <td class="text-center">
                    <strong>Quantidade de parcelas:</strong>
                  </td>
                  <td class="text-center">
                    {{ resource.qtdParcela }}
                  </td>
                  <td class="text-center">
                    <strong>Valor original da primeira parcela:</strong>
                  </td>
                  <td class="text-center">
                    {{ resource.valorEntrada | maskMoney }}
                  </td>
                  <td class="text-center">
                    <strong>Razão Social/Nome do Representante Legal:</strong>
                  </td>
                  <td class="text-center">
                    {{ debitoNegociacaoPiDTO.representanteLegal }}
                  </td>
                </tr>
                <tr>
                  <td class="text-center">
                    <strong>Endereço: </strong>
                  </td>
                  <td class="text-center" colspan="3">
                    {{ debitoNegociacaoPiDTO.endereco }}
                  </td>
                  <td class="text-center">
                    <strong>Tipo do Parcelamento: </strong>
                  </td>
                  <td class="text-center">
                    {{ resource.termoAcordo ? 'TAC' : 'TAD' }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="form-group col-md-6" *ngIf="user.usuarioInterno">
          <app-input-padrao for-name="processoSei" nome="Número do Processo SEI" [resource-form]="resourceForm">
          </app-input-padrao>
        </div>
        <div class="form-group col-md-6" *ngIf="user.usuarioInterno">
          <button type="button" class="btn btn-secondary float-right mt-3" title="Salvar" (click)="salvarTermo()"
            *ngIf="resourceForm.value.processoSei">
            <i class="fa fa-save"></i>
            Salvar
          </button>
        </div>
        <div class="form-group col-md-12" *ngIf="resource && resource.parcelas && resource.parcelas[0].dares && isPago(resource.parcelas[0].dares)">
          <a target="_blank" class="btn btn-secondary float-right mt-3" title="Imprimir Termo"
            [href]="getImpressaoTAC()">
            <i class="fa fa-print"></i>
            Imprimir Termo
          </a>
        </div>
        <div class="form-group col-md-12" *ngIf="isAguardandoAprovacaoParcelamento">
          <h5 style="font-family: sans-serif"><strong>Aguardando aprovação do parcelamento.</strong>
          </h5>
        </div>
        <div class="form-group col-md-12">
          <a target="_blank" class="btn btn-secondary float-left mt-3" title="Imprimir Termo" [href]="getImpressaoRequerimentoParcelamento()">
            <i class="fa fa-print"></i> Requerimento de Parcelamento
          </a>
        </div>
        <div class="form-group col-md-12" *ngIf="!isAguardandoAprovacaoParcelamento">
          <h5 style="font-family: sans-serif;"><strong>Parcelas</strong></h5>
        </div>
        <div class="form-group col-md-12" *ngIf="!isAguardandoAprovacaoParcelamento">
          <div class="table-responsive-lg" style="background: white;font-family: sans-serif;">
            <table class="table table-hover table-bordered" style="font-size: 0.8rem;">
              <thead>
                <tr>
                  <th scope="col" class="text-center">Número</th>
                  <th scope="col" class="text-center">Valor</th>
                  <th scope="col" class="text-center">Data de Vencimento</th>
                  <th scope="col" class="text-center">Pagamento</th>
                  <th scope="col" class="text-center">DARE</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let obj of resource.parcelas; let i = index">
                  <td class="text-center">
                    <span *ngIf="i + 1 < 10">0</span>{{ i + 1 }}
                  </td>
                  <td class="text-center">
                    {{ obj.valorAtualizado ? ( obj.valorAtualizado | maskMoney ) : '-' }}
                  </td>
                  <td class="text-center">
                    {{ obj.dataVencimento ? (obj.dataVencimento | date: 'dd/MM/yyyy') : '-' }}
                  </td>
                  <td class="text-center">
                    {{ obj.dares && obj.dares.length > 0 ? (isPago(obj.dares) ? 'Pago' : 'Pagamento não encontrado') : 'Pagamento não encontrado' }}
                  </td>
                  <td class="text-center" *ngIf="obj.dares && obj.dares.length > 0 && obj.dares[obj.dares.length - 1]">
                    <a [href]="linkSefaz + obj.dares[obj.dares.length - 1].numeroDare" target="_blank">Ver DARE</a>
                  </td>
                  <td class="text-center" *ngIf="!obj.dares || obj.dares.length == 0">
                    -
                  </td>
                </tr>
                <tr *ngIf="!resource.parcelas">
                  <td colspan="4">
                    <strong>Nenhum Registro Encontrado</strong>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="form-group col-md-12" *ngIf="!isAguardandoAprovacaoParcelamento">
          <button type="button" class="btn btn-secondary float-right mt-3" title="Atualizar Parcela"
            (click)="atualizarParcela()">
            <i class="fa fa-file-pdf-o"></i>
            Atualizar Parcela
          </button>
        </div>
        <div class="form-group col-md-12" *ngIf="resource.anexos && resource.anexos.length > 0">
          <br>
          <strong>Arquivo{{ resource.anexos.length > 1 ? 's' : '' }}</strong>
          <br><br>
          <ul>
            <li *ngFor="let a of resource.anexos"><a href="#/negociacao" [title]="'Clique para baixar: ' + a.nomeAnexo"
                (click)="baixarAnexo(a.id)">{{ a.nomeAnexo }}</a></li>
          </ul>
        </div>
      </div>
      <div class="form-row" *ngIf="tipoNegociacaoAtual == 'tac' && tacSimulacaoDTO != ''">
        <div class="form-group col-md-6">
          <label class="titleLabel" for="entrada">Valor sugerido para primeira parcela</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">R$</span>
            </div>
            <input class="form-control" placeholder="Valor" title="Valor" formControlName="entrada"
              onkeypress="return somenteNumeroAndVirgulaAndPonto(event);" (blur)="atualizarMinParcelas()"
              [imask]="maskMoney">
          </div>
          <li class="descricaoPadrao">O valor da primeira parcela deve ser igual ou superior as demais.
          </li>
          <app-form-field-error [form-control]="resourceForm.get('entrada')"></app-form-field-error>
        </div>
        <div class="form-group col-md-6">
          <label class="titleLabel" for="parcela">Quantidade de Parcelas</label>
          <select formControlName="parcela" id="parcela" class="form-control" title="Parcelas">
            <option *ngFor="let a of listaPar; let i = index" [value]="i + 2">
              {{ 1 + ' + ' + (i+1) + 'x de ' + (calcularParcelasNaIntegra(i+1) | maskMoney) + ' + AM e juros' }}</option>
          </select>
          <br>
          <li class="ml-3 descricaoPadrao">AM: Atualização monetária.</li>
          <li class="ml-3 descricaoPadrao">Juros: Juros não capitalizáveis.</li>
        </div>
      </div>
      <div class="form-row" *ngIf="(tipoNegociacaoAtual == 'pi')">
        <div class="form-group col-md-12">
          <div class="form-row">
            <div class="form-group col-md-2">
              <label class="titleLabel" for="data">Data de Pagamento</label>
              <p-calendar id="date" formControlName="dataPagamento" inputStyleClass="form-control"
                [style]="{'width':'100%'}" dateFormat="dd/mm/yy" [locale]="ptBR" [showButtonBar]="true" title="Data"
                [minDate]="minDate" placeholder="Data" onkeypress="return data(event);">
              </p-calendar>
              <app-form-field-error [form-control]="resourceForm.get('dataPagamento')"></app-form-field-error>
            </div>
            <div class="form-group col-md-10 mt-3">
              <button type="button" class="btn btn-secondary float-right mt-3" title="Gerar DARE" (click)="gerarDares()"
                [disabled]="!resourceForm.value.dataPagamento && resourceForm.value.dataPagamento <= minDate">
                <i class="fa fa-file-pdf-o"></i>
                Gerar DARE
              </button>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <li class="descricaoPadrao"> A data selecionada servirá apenas para
                  créditos inscritos em Dívida Ativa.</li>
              <li class="descricaoPadrao"> A data para pagamento de créditos não
                  inscritos em Dívida Ativa será a data limite para vencimento do crédito.</li>
            </div>
          </div>
        </div>
      </div>
      <div class="form-row"
        *ngIf="!user.usuarioInterno && resourceForm.value.tipoNegociacao && resourceForm.value.tipoNegociacao != 'pi' && (tacSimulacaoDTO != '' || resource)">
        <h5 style="font-family: sans-serif;"><strong>Documentações</strong></h5>
      </div>
      <div class="form-row"
        *ngIf="!user.usuarioInterno && resourceForm.value.tipoNegociacao && resourceForm.value.tipoNegociacao != 'pi' && (tacSimulacaoDTO != '' || resource)">
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01"
            (change)="onFileChange($event)">
          <label class="custom-file-label" for="inputGroupFile01">Escolha Anexo</label>
        </div>
      </div>
      <div class="table-responsive-lg" style="background: white;font-family: sans-serif;"
        *ngIf="!user.usuarioInterno && resourceForm.value.tipoNegociacao && resourceForm.value.tipoNegociacao != 'pi' && tacSimulacaoDTO != ''">
        <table class="table table-hover table-bordered" style="font-size: 0.8rem;">
          <thead>
            <tr>
              <th scope="col" class="text-center">Código</th>
              <th scope="col" class="text-center">Nome</th>
              <th scope="col" class="text-center">Ação </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let obj of resourceForm.get('anexos').value; let i = index">
              <td class="text-center">
                <span *ngIf="i+1 < 10">0</span>{{ i + 1 }}
              </td>
              <td class="text-center">
                {{ obj.nomeAnexo }}
              </td>
              <td class="text-center">
                <button type="button" class="btn btn-outline-secondary btn-sm" title="Excluir" (click)="excluir(i)">
                  <i class="fa fa-trash"></i></button>
                <button type="button" class="btn btn-outline-secondary btn-sm" title="Baixar" (click)="baixar(obj)">
                  <i class="fa fa-cloud-download"></i></button>
              </td>
            </tr>
            <tr *ngIf="resourceForm.get('anexos').value == null || resourceForm.get('anexos').value.length <= 0">
              <td colspan="3">
                <strong>Nenhum Registro Encontrado</strong>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="form-group col-md-12" *ngIf="tipoNegociacaoAtual == 'tac' && tacSimulacaoDTO != ''">
        <button type="button" class="btn btn-secondary float-right mt-3"
          [title]="user.usuarioInterno ? 'Realizar Termo de Acordo de Parcelamento - TAC' : 'Solicitar Parcelamento'"
          (click)="confirmDialog('Deseja realmente realizar o TAC?', 'TAC', 'pi pi-exclamation-triangle')"
          *ngIf="!resource || !resource.id">
          <i class="fa fa-file-pdf-o"></i>
          {{ user.usuarioInterno ? 'Realizar Termo de Acordo de Parcelamento' : 'Solicitar Parcelamento' }}
        </button>
      </div>
      <div class="form-group col-md-12" *ngIf="resource && tipoNegociacaoAtual == 'tad'">
        <button type="button" class="btn btn-secondary float-right mt-3"
          [title]="user.usuarioInterno ? 'Realizar Termo de Adesão - TAD (REFIS)' : 'Solicitar Parcelamento'"
          (click)="confirmDialog('Deseja realmente realizar o TAD?', 'TAD', 'pi pi-exclamation-triangle')"
          *ngIf="(!resource || !resource.id) && isNotAguarde">
          <i class="fa fa-file-pdf-o"></i>
          {{ user.usuarioInterno ? 'Realizar Termo de Adesão' : 'Solicitar Parcelamento' }}
        </button>
        <span *ngIf="(!resource || !resource.id) && !isNotAguarde">Aguarde um instante...</span>
      </div>
    </form>
  </div>
</div>

<div class="card" *ngIf="debitoNaoNegociavel">
  <div class="card-header">
    <div class="form-row">
      <h5 style="font-family: sans-serif; color: red"><strong>Este débito não se encontra ápito para negociação</strong>
      </h5>
    </div>
  </div>
</div>

<div class="card" *ngIf="devedorNaoNegociavel">
  <div class="card-header">
    <div class="form-row">
      <h5 style="font-family: sans-serif; color: red"><strong>O CNPJ/CEI/CPF "{{ resourceForm.value.devedor }}" não
          possui débitos ápitos para negociação</strong>
      </h5>
    </div>
  </div>
</div>

<p-confirmDialog [style]="{width: '25%'}"></p-confirmDialog>
<p-toast [style]="{marginTop: '80px'}"></p-toast>